root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true

[nginx.conf]
indent_size = 4

[*.hs]
indent_size = 4

[*.rs]
indent_size = 4
