[user]
	name = Wyatt Johnston
	email = git@wyatt.page
	signingkey = 75C6F16A8AC04A03
[alias]
	co = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	rho = !git fetch origin && git reset --hard origin/$(git branch --show-current)
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[credential]
	helper = cache
[push]
	default = simple
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[rebase]
	autosquash = true
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color]
	ui = true
[init]
	defaultBranch = main
[pull]
	ff = only
